mixin invoice-list(invoices, currentPage, pages)
    ul.list.list-horizontal.list-pages.text-center
        - for(let i = 1; i <= pages; i+=1 )
            li
                if currentPage === i
                    a.btn.btn-danger.disabled(href="/invoice/all?page=" + i)
                        = i
                else
                    a.btn.btn-danger(href="/invoice/all?page=" + i)
                        = i

    table
        thead
            tr
                td Дата
                td Номер
                td Стойност
                td Клиент
                td МОЛ
                td Адрес
        tbody
            each invoice in invoices
                tr
                    td
                        = invoice.date
                    td
                        a(href="/invoice/" + invoice._id) 
                            = invoice.number
                    td
                        = invoice.total
                    td
                        = invoice.client.name
                    td
                        = invoice.client.accountablePerson
                    td
                        = invoice.client.address        